{# https://github.com/madrilene/eleventy-excellent/blob/main/src/_includes/head/js-inline.njk #}

{# <script>{% getBundle "js", "inline" %}</script>

{%- js "inline" %} <!-- inlined for all pages -->
{% include "scripts/is-land.js" %}
{% include "scripts/theme-toggle.js" %}
{% endjs %} #}