{# https://github.com/madrilene/eleventy-excellent/blob/main/src/_includes/head/schema.njk #}

{# {% include "schemas/WebSite.njk" %}

{% if schema %}
  {%- include "schemas/" + schema + ".njk" -%}
{% endif %} #}