---
layout: base
permalink: /index.html
title: 'Colin Johnston'
description: ''
home:
  title: 'Reimagining my web presence for 2026.'
  intro: "Something new is in the works. Check back soon."
---

<div class="wrapper">
  <header class="">
    <div class="">
      <h1 class="">{{ title }}</h1>
    </div>
  </header>
  <article class="">
    <div class="">
      <h2 id="">{{ home.title }}</h2>
      <p>{{ home.intro }}</p>
    </div>
  </article>
</div>

