{# See https://www.11ty.dev/docs/plugins/image/ for Image plugin reference #}

<div class="social-icons">
  <a href="https://bsky.app/profile/colinjohnston.com" aria-label="Follow me on Bluesky">
    <img src="/bluesky-logo.svg">
  </a>
  <a href="https://mastodon.social/@colinjohnston" aria-label="Follow me on Mastodon">
    <img src="/mastodon-logo.svg">
  </a>
  <a href="https://www.threads.com/@colinjohnston" aria-label="Follow me on Threads">
    <img src="/threads-logo.svg">
  </a>
  <a href="https://instagram.com/colinjohnston" aria-label="Follow me on Instagram">
    <img src="/instagram-logo.svg">
  </a>
</div>
